# Data Science Tool and Ecosystem

# In this notebook, Data Science Tools and Ecosystem are summarized.

# Some of the popular languages that Data Scientists use are:
1. R
2. Java
3. Python

# Some of the commonly used libraries used by Data Scientists include:
- Pandas
- NumPy
- Metploblit
- TensorFlow

### Data Science Tools
| Data Science Tools |
|------------------- |
| RStudio |
| Jupyter Notebook |
| VS Code |

### Below are a few examples of evaluating arithmetic expressions in Python

In [32]:
## This a simple arithmetic expression to multiply then add integers:
(3*4)+5

17

In [34]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

# Objectives:
* List of popular languages for Data Science.
* List of standard libraries for Data Science.
* List of open-source Data Science tools.
* Simple arithmetic expression.

## Author
Khanlar Jalayer